[run]
branch = True
dynamic_context = test_function
concurrency = multiprocessing,thread
parallel = True
data_file = ${INITIAL_PWD-.}/.coverage
omit = ${INITIAL_PWD-.}/testreport
source =
    ${INITIAL_PWD-.}/
    ${INITIAL_GISBASE-/usr/local/grass85}/
    ${INITIAL_GISBASE-/usr/local/grass85}/etc/python/grass

[paths]
source =
    python/grass/
    /usr/local/grass*/etc/python/grass/
    /home/*/install/grass*/etc/python/grass/

[report]
skip_covered = False
; Regexes for lines to exclude from consideration
exclude_also =
    ; Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    ; Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    ; Don't complain if non-runnable code isn't run:
    ; if 0:
    ; if __name__ == .__main__.:

    ; Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

ignore_errors = True
precision = 2

[html]
directory = coverage_html_report
show_contexts = true
